body {
	font: normal 13px/14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
div.wrapper {
	width: 600px;
	margin: 30px auto;
}
ul {
	margin: 0;
	padding: 0;
	border-bottom: 3px solid #666;
	overflow: hidden;
}
ul li {
	list-style: none;
	float: left;
	margin-right: 4px;
}
ul li a {
	font-weight: bold;
	display: inline-block;
	padding: 6px 12px;
	color: #888;
	outline: 0;
	text-decoration: none;

	background: #f3f3f3;
	background: -webkit-gradient(linear,0 0,0 bottom,from(#eee),to(#e4e4e4));
	background: -moz-linear-gradient(#eee,#e4e4e4);
	background: linear-gradient(#eee,#e4e4e4);
	-pie-background: linear-gradient(#eee,#e4e4e4);
}

ul li a.current {
	color: white;

	background: #666;
	background: -webkit-gradient(linear,0 0,0 bottom,from(#888),to(#666));
	background: -moz-linear-gradient(#888,#666);
	background: linear-gradient(#888,#666);
	-pie-background: linear-gradient(#888,#666);
}
div.tabscontent > div {
	padding: 0 15px;
}
