<header>
  <h1 class="site-title"><a href="/">{{ site.name }}</a></h1>
  <nav class="main-nav">
    <a href="#" class="opener show-on-mobiles">...</a>
    <div class="clear-opener show-on-mobiles"></div>
    <div class="grid">
      <ul>
        <li><a href="https://github.com/elboletaire/tabbedcontent" target="_blank"><i class="fa fa-github"></i>Github</a></li>
        <li><a href="https://github.com/elboletaire/tabbedcontent/issues" target="_blank"><i class="fa fa-exclamation-circle"></i>Issues</a></li>
        <li class="navbar-right">
          <ul>
            <li><a href="https://github.com/elboletaire/tabbedcontent/tarball/master"><i class="fa fa-file-archive-o"></i>.tar.gz</a></li>
            <li><a href="https://github.com/elboletaire/tabbedcontent/zipball/master"><i class="fa fa-file-archive-o"></i>.zip</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>
